@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *:after, *:before {
	@include box-sizing(border-box);
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	clear: both;
	float: none;
}  

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-4;
	text-rendering: optimizeLegibility;
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $M; // breakpoints inside partials > _layout.scss
	margin: 0 auto;
	@include clearfix;
}

.cd-container-full {
	background: #efefef;
	width: 100%;
	margin: 0;
	display: block;
	max-width: 100%;
	.wrapper {
		@extend .cd-container;
	}
}

.has-top-margin {
	/* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
	@include MQ(L) {
		@include animation(animate-margin-top 0.3s);
		margin-top: $bar-height; // variables inside _variables.scss
	}
}

@include keyframes(animate-margin-top) {
	0% {
		margin-top: $bar-height-full;
	}

	100% {
		margin-top: $bar-height;
	}
}

/* -------------------------------- 

Navigation

-------------------------------- */

.cd-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-S;
	box-shadow: 0 1px 3px rgba(#000, .2);
	background-color: $color-1;
	z-index: $header-zindex;

	@include MQ(M) {
		height: $header-M;
		background-color: transparent;
		box-shadow: none;
		&.header-support {
			height: 0;
		}
	}
}

#cd-logo {
	float: left;
	margin: 13px 0 0 5%;
	width: 240px;
	
	a {
		display: inline-block;
		width: 180px;
		height: 42px;
		text-indent: -9999px;
		/*background: url(../assets/branding/logo-white-sm.png) 0 0 no-repeat;*/
		background: url(../assets/branding/logo-white.png) 0 0 no-repeat;
		background-size: 100%;
		position: relative;
		top: -9px;
	}

	@include MQ(M) {
		margin: 23px 0 0 5%;
		a {
			top: 0;
			width: 240px;
			height: 57px;
			background: url(../assets/branding/logo.png) 0 0 no-repeat;
			background-size: 100%;
		}
	}

	@include MQ(L) {

		&.is-hidden {
			/* assign a position fixed and move outside the viewport (on the left) */
			opacity: 0;
			position: fixed;
			left: -20%;
			margin-left: 0;
			@include transition(left 0.3s, opacity 0.3s);

			&.slide-in {
				/* slide in when the secondary navigation gets fixed */
				left: 5%;
				opacity: 1;
			}
		}
	}
}

#cd-logo.slide-in a {
	display: inline-block;
	width: 180px;
	height: 42px;
	text-indent: -9999px;
	background: url(../assets/branding/logo-white.png) 0 0 no-repeat;
	background-size: 100%;
	position: relative;
	top: -9px;
}

#cd-logo.white {
	left: 5%;
	opacity: 1;
	margin: 0;
	a {
		display: inline-block;
		width: 180px;
		height: 42px;
		text-indent: -9999px;
		background: url(../assets/branding/logo-white.png) 0 0 no-repeat;
		background-size: 100%;
		position: relative;
		top: 4px;
		left: 10px;
	}
	@media (min-width: $M) {
		a {
			top: 26px;
			left: 25px;
			background: url(../assets/branding/logo.png) 0 0 no-repeat;
			background-size: 100%;
		}
	}
	@media (min-width: $L) {
		a {
			
			background: url(../assets/branding/logo-white.png) 0 0 no-repeat;
			background-size: 100%;
		}
	}
}

.cd-primary-nav {
	/* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: url('../img/cd-icon-menu.svg') no-repeat center center;
	background-size: 44px 44px;

	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		@include transform(translateY(-100%));

		&.is-visible {
			@include transform(translateY($header-S));
		}
	}

	a {
		display: block;
		height: $header-S;
		line-height: $header-S;
		padding-left: 5%;
		background: darken($color-1, 5%);
		border-top: 1px solid lighten($color-1, 3%);
		color: $color-4;
	}

	@include MQ(M) {
		/* reset navigation values */
		width: auto;
		height: auto;
		background: none;

		ul {
			position: static;
			width: auto;
			@include transform(translateY(0));
			line-height: $header-M;

			&.is-visible {
				@include transform(translateY(0));
			}
		}

		li {
			display: inline-block;
			margin-left: 1em;
		}

		a {
			display: inline-block;
			height: auto;
			line-height: normal;
			background: transparent;
			padding: .6em 1em;
			border-top: none;
			color: $color-1;
		}
	}
}

/* -------------------------------- 

Intro

-------------------------------- */

#cd-intro {
	position: relative;
	height: $intro-height-S; // variables inside _variables.scss
	/*background: url(../img/intro-background.jpg) no-repeat center center;*/
	/*background: url(http://static.pexels.com/wp-content/uploads/2014/06/background-blur-blurred-1445.jpg) no-repeat center center;*/
	background: url(../img/apple-cup-display-small.jpg) no-repeat center center;
	/*background: url(../img/black-and-white-city-conference-1984.jpg) no-repeat center center;*/
	/*background: url(../img/desk-glasses-notebook-3061.jpg) no-repeat center center;*/
	background-size: cover;
	z-index: $intro-zindex;

	#cd-intro-tagline {
		width: 90%;
		max-width: $L;
		margin: 0 auto;
		text-align: center;
		padding-top: 120px;
	}

	h1 {
		@extend .neuropol;
		@include font-size(24px);
		font-weight: 300;
		color: $color-2;
		/*text-shadow: 0 1px 3px rgba(#000, .1);*/
		text-shadow: 0 1px 0 #E2AAAA;
	}

	@include MQ(M) {
		height: $intro-height-M;

		#cd-intro-tagline {
			padding-top: 160px;
		}

		h1 {
			font-size: 2.5rem;
			margin: 0 0 .5em;
		}
	}

	@include MQ(L) {
		height: $intro-height-L;

		#cd-intro-tagline {
			padding-top: 250px;
		}

		h1 {
			font-size: 3rem;
			margin: 0 0 1em;
		}
	}
}

.cd-btn {
	display: inline-block;
	padding: 1em 1.8em;
	background-color: rgba($color-2, .9);
	margin-top: 1em;
	border-radius: 20em;
	@include backface-visibility(hidden);
	@include font-smoothing;
	color: $color-4;

	.no-touch &:hover {
		background-color: rgba($color-2, 1);
	}

	@include MQ(L) {

		&.is-hidden {
			/* assign a position fixed and move outside the viewport (on the right) */
			opacity: 0;
			position: fixed;
			right: -20%;
			top: 0;
			padding: .8em 1.2em;
			margin: 14px 0 0;
			@include transition(right 0.3s, opacity 0.3s);

			&.slide-in {
				/* slide in when the secondary nav gets fixed */
				right: 5%;
				opacity: 1;
				z-index: 2;
			}
		}
	}
}

/* -------------------------------- 

Secondary Fixed Navigation

-------------------------------- */

.cd-secondary-nav {
	position: relative;
	z-index: $header-zindex;
	@extend .nexa;
	@include font-smoothing;

	ul {
		/* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
		position: fixed;
		width: 90%;
		max-width: 400px;
		left: 5%;
		bottom: 20px;
		@include border-radius;
		background: rgba($color-1, .96);
		visibility: hidden;
		z-index: 1;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transform(scale(0));
		@include transform-origin(0% 100%);
		-webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
		-moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
		transition: transform 0.3s, visibility 0s 0.3s;

		&.is-visible {
			box-shadow: 0 0 .5em rgba(0,0,0,.65);
			visibility: visible;
			@include transform(scale(1));
			-webkit-transition: all 0.3s, visibility 0s 0s;
			-moz-transition: all 0.3s, visibility 0s 0s;
			transition: all 0.3s, visibility 0s 0s;
		}
	}

	li a {
		display: block;
		padding: 1.6em;
		border-bottom: 1px solid lighten($color-1, 10%);
		color: $color-4;
		text-align: right;
	}

	li:last-child a {
		border-bottom: none;
	}

	@include MQ(L) {
		z-index: $secondary-bar-zindex;
		height: $bar-height-full;
		background-color: rgba($color-1, .96);
		@include transition(height 0.3s);

		nav, ul, li, a {
			height: 100%;
		}

		ul {
			/* reset navigation values */
			position: static;
			width: auto;
			max-width: 100%;
			visibility: visible;
			@include transform(scale(1));
			text-align: center;
			background-color: transparent;
		}

		li {
			display: inline-block;
			margin-left: -4px;
		}

		li a {
			position: relative;
			text-align: center;
			display: block;
			padding: 58px 20px 0 20px;
			border-bottom: none;
			@include transition(padding 0.2s);

			b {
				text-transform: uppercase;
				@include font-size(13px);
				font-weight: 700;
				color: rgba($color-4, .9);
			}

			span {
				position: absolute;
				display: inline-block;
				width: 40px;
				height: 40px;
				top: 18px;
				@include center(x);
				background-repeat: no-repeat;
				background-image: url(../img/cd-nav-icons.svg);
				@include transition(opacity 0.2s);
			}

			&:hover b, &.active b {
				color: $color-2;
			}
		}

		li:nth-child(1) a span {
			background-position: 0 0;
		}

		li:nth-child(2) a span {
			background-position: -40px 0;
		}

		li:nth-child(5) a span {
			background-position: -80px 0;
		}

		li:nth-child(4) a span {
			background-position: -120px 0;
		}

		li:nth-child(3) a span {
			background-position: -160px 0;
		}

		&.is-fixed {
			/* on Firefox CSS transition/animation fails when parent element changes position attribute*/
			/* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
			position: fixed;
			left: 0;
			top: 0;
			height: $bar-height;
			width: 100%;
		}

		&.animate-children {
			/* on Firefox CSS transition/animation fails when parent element changes position attribute*/
			/* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
			box-shadow: 0 1px 2px rgba(#000, .2);

			li a {
				padding: 26px 10px 0 10px;

				span {
					opacity: 0;
				}
			}
		}
	}
}

.cd-secondary-nav-trigger {
	position: fixed;
	bottom: 20px;
	left: 5%;
	width: 44px;
	height: 44px;
	background: rgba($color-2, .96);
	@include border-radius;

	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	z-index: 2;

	span {
		/* the span element is used to create the menu icon */
		position: absolute;
		display: block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: $color-4;
		@include center;
		-webkit-transition: background 0.3s;
		-moz-transition: background 0.3s;
		transition: background 0.3s;

		&::before, &::after {
			content: '';
			position: absolute;
			background: inherit;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}

		&::before {
			right: -10px;
			@include transform(rotate(0));
		}

		&::after {
			left: -10px;
			@include transform(rotate(0));
		}
	}

	&.menu-is-open {
		background: transparent;
	}

	&.menu-is-open span {
		background: rgba($color-4, 0);
		width: 20px;
		height: 2px;

		&::before, &::after {
			background: rgba($color-4, 1);
			width: 100%;
			height: 100%;
			border-radius: 0;
			top: 0;
			left: 0;
		}

		&::before {
			@include transform(rotate(135deg));
		}

		&::after {
			@include transform(rotate(225deg));
		}
	}

	@include MQ(L) {
		display: none;
	}
}

/* -------------------------------- 

Placeholder Sections

-------------------------------- */

.cd-section {
	margin: 0 auto;
	padding: 2em 0;

	h2 {
		@extend .nexa;
		@include font-size(20px);
		margin-bottom: .6em;
		font-weight: 700;
		text-transform: uppercase;
	}
	h3 {
		@include font-size(18px);
		margin-bottom: .6em;
		font-weight: 700;
		color: $color-2;
	}

	p {
		line-height: 1.6;
		margin-bottom: 1em;
		color: #444;
	}

	b {
		@extend .nexa;
		text-transform: uppercase;
		font-weight: bold;
		color: $color-5;
	}

	@include MQ(L) {
		margin: 0 auto;
		padding: 4em 0;

		h2 {
			@include font-size(30px);
		}
		
		p {
			@include font-size(20px);
		}
	}
}

/*-------------------------------

Utility

------------------------------ */

.text-center {
	text-align: center;
}
.text-right {
	text-align: center;
}
.text-left {
	text-align: center;
}

.align-right {
	float: right;
	max-width: 30%;
	margin-left: 1em;
	margin-bottom: 1em;
}

/*-------------------------------

Footer

------------------------------ */

.footer {
	width: 100%;
	padding: 1em;
	background: $color-1;
	color: white;
	text-align: right;
}

.aux-page {
	.footer {
		position: fixed;
		z-index: 1;
	}
}

.overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	z-index: 3;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: .25s all ease-in-out;
	iframe {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}
	&.open {
		display: block;
		height: 100%;
		opacity: 1;
	}
}

.btn-circle {
	width: auto;
	height: auto;
	padding: .1em;
	font-size: 2em;
	text-align: center;
	line-height: .8em;
	font-weight: bold;
	position: absolute;
	right: .5em;
	top: -.5em;
	cursor: pointer;
}

.row {
	@include clearfix;
	@include MQ(M) {
		.half {
			width: 50%;
			float: left;
			text-align: left;
			&.left-half {
				text-align: right;
			}
			&.right-half {
				display: inline-block;
				vertical-align: middle;
				height: 45px;
				line-height: 45px;
				padding-left: 1em;
			}
		}
	}
}

.bg-img-1 {
	background: url(../img/grassy-laptop.jpg) right bottom no-repeat;
	background-size: cover;
	h2, p {
		color: white;
		text-shadow: 0 0 5px #444;
	}
}

.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
	padding: 1em;

	@include MQ(S) {
		.cd-box {
			padding: 2em;
		}
	} 
}

/* xTypography section - basic style */

.cd-typography {

	h1::before {
		content: 'Aa - ';
		color: $color-1;
	}
}

.cd-buttons {
	.cd-box:first-of-type {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.cd-box:last-of-type {
		margin-top: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	button {
		margin: .4em;
	}

	@include MQ(M) {
		button {
			margin: 1em;
		}
	}
}

/* xIcons section - basic style */

.cd-icons {
	li {
		display: inline-block;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 1em;
	}

	.cd-icon-1 {
		background-image: url('../assets/icons/icon-1.svg'); 
	}

	.cd-icon-2 {
		background-image: url('../assets/icons/icon-2.svg'); 
	}

	.cd-icon-3 {
		background-image: url('../assets/icons/icon-3.svg'); 
	}

	.cd-icon-4 {
		background-image: url('../assets/icons/icon-4.svg'); 
	}

	.cd-icon-5 {
		background-image: url('../assets/icons/icon-5.svg'); 
	}

	.cd-icon-6 {
		background-image: url('../assets/icons/icon-6.svg'); 
	}

	.cd-icon-7 {
		background-image: url('../assets/icons/icon-7.svg'); 
	}

	.cd-icon-8 {
		background-image: url('../assets/icons/icon-8.svg'); 
	}
}

/* xForm section - basic style */

.cd-form {

	.form-label {
		display: block;
	}

	.form-textbox {
		min-width: 100%;
		border: 1px solid #ddd;
		margin: 1em 0;
		font-size: 16px;
		padding: .6em 1em;
		box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
		border-radius: .2em;
	}

	input[type=text], input[type=radio] {
		margin: 1em 0;
		font-size: 16px;
		padding: .6em 1em;
		box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
	}

	.form-textarea {
		width: 100%;
		min-height: 15em;
		border: 1px solid #ddd;
		margin: 1em 0;
		font-size: 16px;
		padding: .6em 1em;
		box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
		border-radius: .2em;
	}

	input[type=text].success, input[type=email].success, textarea.success {
		border-color: #6fce72;
		box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
	}

	input.error,textarea.error {
		border-color: $color-2;
		box-shadow: 0 0 6px rgba($color-2, 0.2);
	}

	#hint-name, #hint-email, #hint-company, #hint-description {
		display: block;
		margin-bottom: 1em;
		margin-top: -1em;
		padding-top: .2em;
		color: $color-2;
	}

	select::-ms-expand {
      display: none;
	}

}

.form-required {
	color: $color-2;
}

@-moz-document url-prefix(){
	/* hide custom arrow on Firefox */
	.cd-select::after {
		display: none;
	}
}

.pad-right-1em {
	padding-right: 1em;
}
.pad-left-2em {
	padding-left: 2em;
}

.text-right {
	text-align: right;
}

.modal-basic {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: scroll;
	height: 100%;
	width: 100%;
	padding: 1em;
}

@media (max-width: 767px) {
	.no-pad-mobile {
		padding: 0;
	}	
}

.large-padding-top {
	padding-top: 4em;
}

.col-6 {
	@media (min-width: $M) {
		@include column(.5);	
	}
}
.col-4 {
	@media (min-width: $M) {
		@include column(.3333);	
	}
}
.mobile-block {
	width: 100%;
	display: block;
	@media (min-width: $M) {
		width: auto;
		display: inline;
	}
}
.signature {
	font-style: italic;
}
.cd-section blockquote {
	font-size: 1.1em;
	padding: 1em;
	p {
		color: #888;
	}
	background: white;
	padding: 2em;
	&:before {
		content: "“";
		position: absolute;
		font-size: 3em;
		display: inline;
		margin-top: -.2em;
		margin-left: -.5em;
		color: #888;
	}
	&:after {
		content: "”";
		position: relative;
		font-size: 3em;
		display: inline;
		margin-top: -1em;
		margin-right: -.4em;
		float: right;
		color: #888;
	}
}

.full-height {
	@media (min-width: $L) {
		height: calc(100vh - 45px);
		margin-bottom: -102px;
	}
}

.single-page {
	margin-top: 102px;
	@media (min-width: $L) {
		margin-top: 0;
	}
	height: calc(100vh - 179px);
}

#support-form {
	padding-bottom: 10em;
}

.logo-image {
	max-width: 100%;
	padding: 1em;
	@media (min-width: 480px) {
		width: 33.333%;
		float: left;
	}
}
.testimonial-box {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	a:after {
		content: "Click to go to: " attr(href);
		display: inline-block;
		position: relative;
		top: 120px;
		left: -20px;
		opacity: 0;
		color: #ccc;
		transition: .3s all ease-in-out;
	}
	a:hover:after {
		left: 0;
		opacity: 1;
	}

	@media (min-width: 768px) {
		&.logo {
			padding-top: 8em;
		}
	}
}
.no-link {
	color: white;
	cursor: default;
}

/**
 * adding for images above and below the contact details
 **/

.above-contact {
	height: 200px;
    background: url(../img/black-and-white-iphone-smartphone-desk.jpg) center center no-repeat;
    background-size: cover;
	@media (min-width: 769px) {
		min-height: 45vh;
	}
}
.below-contact {
	height: 200px;
    background: url(../img/technology-computer-chips-gigabyte.jpg) center center no-repeat;
    background-size: cover;
	@media (min-width: 769px) {
		min-height: 45vh;
	}
}