@font-face {
    font-family: 'neuropol_xregular';
    src: url('../assets/fonts/neuropol_x_rg-webfont.eot');
    src: url('../assets/fonts/neuropol_x_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/neuropol_x_rg-webfont.woff2') format('woff2'),
         url('../assets/fonts/neuropol_x_rg-webfont.woff') format('woff'),
         url('../assets/fonts/neuropol_x_rg-webfont.ttf') format('truetype'),
         url('../assets/fonts/neuropol_x_rg-webfont.svg#neuropol_xregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.neuropol {
	font-family: "neuropol_xregular", sans-serif;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('../assets/fonts/nexa_bold-webfont.eot');
    src: url('../assets/fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/nexa_bold-webfont.woff') format('woff'),
         url('../assets/fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.nexa {
	font-family: "nexa_boldregular", sans-serif;
}



// color palette - these colors will be the color swatches of the Colors section

$color-1: rgb(17, 134, 206); // Cornflower Blue - Action color
$color-2: rgb(219,38,38); // Dark Blue
$color-3: rgb(128,128,128); // Red
$color-4: white;
$color-5: rgb(20,20,20);

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'Helvetica Neue','Helvetica', serif;
$secondary-font: 'nexa_boldregular', sans-serif;
$special-font: 'neuropol_xregular', sans-serif;

// z-index 
$secondary-bar-zindex: 1;
$intro-zindex: 2;
$header-zindex: 3;

// header height 
$header-S: 50px;
$header-M: 70px;

//intro height
$intro-height-S: 300px;
$intro-height-M: 400px;
$intro-height-L: 600px;

//secondary bar
$bar-height-full: 100px;
$bar-height: 70px;